{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
           "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
           "node": "8"
         },
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/plugin-syntax-flow"]
    // let result = "hello"
    //   |> doubleSay
    //   |> capitalize
    //   |> exclaim;
    // result //=> "Hello, hello!"
    // [ "@babel/plugin-proposal-pipeline-operator", {
    //   "proposal": "minimal"
    // } ]
  ]
}
