{
    "presets": [
        [
            "env", {
                "useBuiltIns": "usage",
                "debug": false,
                "targets": {
                   "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
                }
            }
        ],

        // js features with non-final specs
        "stage-1"
    ],
}
