{
  "parser": "babel-eslint",
  "root": true,
  "extends": [
    "@leeruniek/eslint-config/targets/node"
  ],
  "settings": {
    "import/resolver": "node",
  },
  "rules": {
    "prettier/prettier": "error",
  },
}
